!!! strict
html
  head
    title Karma Racer Race for your Soul!
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    link(rel="icon", type="image/png", href="/favicon.png")      
    link(rel="apple-touch-icon", href="/images/logos/logo-114.png")
    meta(name="viewport", content="initial-scale=0.5, maximum-scale=1.0, user-scalable=0.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    script(type='text/javascript')
      var G_mapName = '#{map}';
      var G_defaultDrawEngineType = '#{default_draw_engine}';
      var G_MOBILE_DEVICE = false;
      var G_fbid = '#{fbid}';
      var G_locale = '#{locale}';
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27170619-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();      
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/dist/vendor_common.js')    
    script(type='text/javascript', src='/dist/all_game.js')    
    link(rel='stylesheet', href='/dist/all_game.css')          
  body
    div#fb-root
    div#camera-debug
      div#botMenu
    div#debug
      #fps
      #high-score
    canvas#game-canvas
    img#loadingImage(src='/images/loading.gif')
    div#loadingInfo
    #chat
      div#chat_msgs_wrapper
        ul#chat_msgs
      div#chat_input_wrapper
        div#chat_input_label
        input#chat_input(type="text", autocapitalize="off", autocorrect="off", autocomplete="off")
